.navegacion {
    display: flex;
    justify-content: center;
    background-color: #444;
    padding: 10px;
}

.navegacion a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

.navegacion a:hover {
    color: #00e1ff;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.cinta-datos {
    background-color: #555;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}

.formulario {
    background-color: cadetblue;

}

title {
    text-align: center;
}

h2 {
    text-align: center;
}

h3{
    text-align: center;
}

p {
    text-align: center;
}

.circle {
    background-color: #a8d6ec;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    align-items: center;
}

#servicios {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px 20px !important;
    margin-top: 10px;
}

#servicios p {
    margin: 35px 40px;
}

#servicios h3 {
    margin: 35px 40px;
}

.aweb .dweb .dsoft {
    width: 100%;
}

.icon {
    margin-top: 32px;
    height: 45px;
    width: 45px;
}

#contacto {
    background-color: #444;
    color: white;
    padding: 20px;
    text-align: center;
}

.formulario {
    background-color: #555;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    text-align: left;
}

.formulario legend {
    font-size: 20px;
    margin-bottom: 10px;
}

.formulario input, .formulario textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.formulario fieldset {
    border: none;
}

.formulario legend {
    font-size: 20px;
    margin-bottom: 10px;
}

.formulario label {
    display: block;
    margin: 10px 0 5px;
}

input[type="submit"] {
    background-color: #00e1ff;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #00b8d4;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}   